@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sorted-column {
  background-color: #0ea5e9;
  /* or any other background color */
  font-weight: bold;
}

.column_resizer_body {
  border-left: none;
  border-right: none;
  /* border-right: 1px solid rgba(0, 0, 0, 0.212); */
}
.columnResizer {
  width: 20px !important;
  min-width: 20px !important;
  max-width: 20px !important;
  padding: 0 0 0 0;
  position: relative;
  
  /* border-right: 1px solid rgba(0, 0, 0, 0.212); */
}
.columnResizer:not(.disabled_column_resize):after {
  content: url("../public/images/resize_disabled_icon.svg");
  position: absolute;
  left: 5px;
  top: calc(50% - 6px);
  width: 13px;
}
.columnResizer:not(.disabled_column_resize):hover::after {
  content: url("../public/images/resize_icon.svg");
  position: absolute;
  left: 5px;
  top: calc(50% - 6px);
  width: 13px;
}
.column_resizer_body {
  width: 20px !important;
  min-width: 20px !important;
  max-width: 20px !important;
}




/*======================
    404 page
=======================*/


.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}


/*======================
    END  404 page
=======================*/